!!! 5
%html{ lang: 'en' }
  %head
    %title Memory Game
    %meta{ charset: 'utf-8' }

    %link{ href: '/style.css', rel: 'stylesheet' }
    %script{ src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' }

  %body
    = yield

    :javascript

      var pair    = [];
      var matched = [];

      var timer;

      var cardCount = function() {

        if ( pair.length == 2 ) {
          return true;
        }
      }

      var resetCards = function() {
        $('.card').removeClass('active');
      }

      var resetTimer = function() {
        timer = window.setTimeout(resetCards, 2000);
      }

      var isPair = function() {

        $card = $(".card[data-name='" + card1 + "']");

        if ( card1 === card2 ) {

          $card.addClass('matched');

          // Keep track of matches
          matched.push(card1);
        } else {
          $card.removeClass('active');

          resetTimer();
        }

        pair = [];
      }

      $('.card').on('click', function(event) {

        $this = $(this);

        if ( $this.hasClass('active') ) {
          return false;
        } else {
          $('.card').removeClass('active');

          card  = $this.data('name');

          $this.addClass('active');

          if ( matched.indexOf(card) > -1 ) {

            // Don't do anything if already matched
            return false;
          } else {

            cardCount();

            pair.push(card);

            if ( cardCount() == true ) {
              card1 = pair[0];
              card2 = pair[1];

              isPair(card1, card2);
            }
          }
        }
      });
