!!! 5
%html{ lang: 'en' }
  %head
    %title Memory Game
    %meta{ charset: 'utf-8' }

    %link{ href: '/style.css', rel: 'stylesheet' }
    %script{ src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' }

  %body
    = yield

    .scorecard
      %p
        Clicks:
        %span.clicks

    %script{ src: '/javascripts/application.js' }
