html, body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.board {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.card {
  $card_height: 130px;

  background: #efefef;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 24px;
  height: auto;
  line-height: $card_height;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  width: 20%;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;

  &:after {
    background: black;
    border: 1px solid white;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: top 0.3s ease-in-out;
       -moz-transition: top 0.3s ease-in-out;
        -ms-transition: top 0.3s ease-in-out;
            transition: top 0.3s ease-in-out;
  }

  &.active, &.matched {
    &:after { top: 200px; }
  }
}

.scorecard {
  background: black;
  bottom: 0;
  color: #fff;
  height: 100px;
  position: fixed;
  text-align: center;
  width: 100%;
}
